{% extends "base.html" %}
{% load bootstrap3 %}


{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <h2>Your Appointments</h2>
    <div>

        {% if user.Type == DOCTOR %}
        <table class="table table-striped">
            <thead>
                <th>Date</th>
                <th>Time</th>
                <th>Patient Info</th>
            </thead>
            {% for obj in object_list %}
            <tr>
                <td>{{ obj.date }}</td>
                <td>{{ obj.time }}</td>
                <td>{{ obj.patient }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}