{% extends 'base.html'%}
{% load myapp_tags %}
{% block title%} Consults {% endblock title %}

{% block content%}
<section>
<div class="container-fluid">
  <div class="row row-cols-3">
    {% for consult in object_list %}
      <div class="col"><a href="{% url 'diagnose:post_detail' consult.id%}">{{ consult.user.get_full_name }}</a>
      <br>
          <ul>
           {% for cons in consult.symptoms|split:", " %}

						<li>{{cons|cut:"'"|cut:"]"|cut:"["}}</li>

          {% endfor %}
              </ul>
          {% if consult.illness.Name == "None" %}
          <p>You are fine</p>
          {% else %}
          <p>{{ consult.illness.Name }}</p>
          {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
</section>
{% endblock content%}
